[Unit]
Description=MyDaemon

[Service]
Type=simple
TimeoutStartSec=0
ExecStart=/home/erebe/programmation/haskell/systemd/dist/build/daemon-test/daemon-test
WatchdogSec=60
Restart=on-failure

[Install]
WantedBy=multi-user.target
